/*INITIAL STYLING*/
/*lucida*/
@font-face {
    font-family: 'lucida_grandebold';
    src: url('lucidagrande-bold-02-webfont.woff2') format('woff2'),
         url('lucidagrande-bold-02-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* colors*/
:root {
    --h1: #8B1086;
    --h2: #B556B2;
    --dark: #212121;
    --accent1: #DB50D7;
}
/* elements*/
body {
    background-color: var(--backg);
    width: 100%;
    background-color: white;
}
h1 {
    font-family: lucida_grandebold, sans-serif; /*regular*/
    font-weight: normal; 
    font-style: normal;
    color: var(--h1);
    text-transform: uppercase;
}
h2 {
    font-family: futura-pt, sans-serif;
    font-weight: 700; /* 400i, 500, 700*/
    font-style: normal;
    color: var(--dark);
    color: var(--h2);
    text-transform: uppercase;
    padding: .5rem;
}
p {
    font-family: futura-pt, sans-serif;
    font-weight: 400; /* 400i, 500, 700*/
    font-style: normal;
    color: var(--dark);
    padding: 1rem;
}
button {
    font-family: futura-pt, sans-serif;
    font-weight: 500; /* 400i, 500, 700*/
    font-style: normal;
    color:var(--dark);
    background-color: var(--h2);
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    border: none;
    margin: 1rem;
    cursor: pointer;
}
b {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--accent1);
}
/* images */
img {
    max-width:100%;
    height:auto;
    padding: 1rem;
}
/* grid */
.dots {
    border-bottom: 2px dashed var(--h1);
    width: 95%;
    height: 50%;
    grid-area: dots;
}
.dots2 {
    border-bottom: 2px dashed var(--h1);
    width: 95%;
    height: 50%;
    grid-area: dots2;
}
.title {
    grid-area: title; margin: 0 auto 1rem;
}
.about {
    grid-area: about;
}
.button {
    grid-area: button;
}
.bio1 {
    grid-area: bio1;
}
.img1 {
    grid-area:img1;
}
.bio2 {
    grid-area: bio2;
}
.img2 {
    grid-area:img2;
}
#trigger {
    grid-area: trigger;
}
#rule {
    grid-area: rule;
}
#feedback {
    grid-area: feedback;
}
#landm {
    grid-area: landm;
}
.micro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
    margin: 1rem;
    justify-self: left;
}
.alpha-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
    "title"
    "about"
    "button"
    "dots"
    "bio1"
    "img1"
    "bio2"
    "img2"
    "dots2"
    "trigger"
    "rule"
    "feedback"
    "landm";
    width: 100%;
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

@media screen and (min-width: 600px) {
    .alpha-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
        "title title"
        "about button"
        "dots dots"
        "bio1 img1"
        "img2 bio2"
        "dots2 dots2"
        "trigger rule"
        "feedback landm";
        width: 100%;
        padding: 2rem;
    }
    .micro {
        align-self: flex-start;
    }
     
}